{% capture footer_contents %}
  {% assign current_lang = page.lang | default: site.default_lang | default: 'zh' %}
  {% if current_lang == 'en' %}
    {% assign footer_text = site.footer_text_en | default: site.footer_text %}
    {% assign last_updated_label = 'Last updated' %}
  {% else %}
    {% assign footer_text = site.footer_text_zh | default: site.footer_text %}
    {% assign last_updated_label = '最后更新' %}
  {% endif %}
  &copy; Copyright {{ site.time | date: '%Y' }}
  {{ site.first_name }}
  {{ site.middle_name }}
  {{ site.last_name }}. {{ footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    {{ last_updated_label }}: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
